@font-face {
    font-family: "TW Cen MT Bold Italic";
    src: url(./Fonts/Twentieth\ Century\ MT\ Bold\ Italic.ttf);
}

@font-face {
    font-family: "TW Cen MT Extra Bold Condensed";
    src: url(./Fonts/Twentieth\ Century\ MT\ Extra\ Bold\ Condensed.ttf);
}

@font-face {
    font-family: "TW Cen MT Medium Italic";
    src: url(./Fonts/Twentieth\ Century\ MT\ Medium\ Italic.ttf);
}

@font-face {
    font-family: "TW Cen MT Light";
    src: url(./Fonts/Twentieth\ Century\ MT\ Light.ttf);
}

@font-face {
    font-family: "Trebuchet MS";
    src: url(./Fonts/trebuc.ttf);
}

body { 
    /* Sets the background of the page to an image. */
    background-image: url(./Images/background_image.png);
    /* Makes image responsive */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* LOGO */
#logo {
    float: left;
}   

#logo img {
    padding: 3px;
}

/* DEBUG HEADER */
#header {
    float: left;
    padding-left: 0.2%;
}   

#header a {
    font-family: "TW Cen MT Extra Bold Condensed";
    font-size: 55px;
    display: block;
    color: white;
    text-align: center;
    padding-top: 1%;
    text-decoration: none;
    /* Shadow opacity controlled by alpha component of rgba */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

/* NAV BAR */
#topnav {
    float: left;
    padding-left: 2.5%;
}   

#topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}   

#topnav li {
    float: left;
}   

#topnav li a {
    font-family: "TW Cen MT Bold Italic";
    font-size: 25px;
    display: block;
    color: white;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    /* Shadow opacity controlled by alpha component of rgba */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}   

#topnav li a:hover {
    display: block;
    background-color: #1BBE9F;
}

/* SEARCH BAR */
#search-bar {
    float: right;
}   

#search-bar input {
    position: fixed;
    right: 200px;
    top: 13px;
    width: 350px;
    border: none;
    border-right: none;
    padding: 5px;
    border-radius: 25px;
    outline: none;
    color: #1BBE9F;
    padding-left: 30px;
    background: url(./Images/search_icon.png) no-repeat left, white;
    background-position: 5px ;
    background-size: 15px;
    /* Shadow opacity controlled by alpha component of rgba */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.search-bar-option {
    display: none;
    font-family: "TW Cen MT Bold Italic";
    font-size: 18px;
    color: #1BBE9F;
    margin-right: 0.6%;
    margin-top: 15px;
    display: block;
    width: 350px;
    border: none;
    border-right: none;
    padding: 5px;
    border-radius: 25px;
    color: #1BBE9F;
    padding-left: 30px;
    margin-top: 10px;
    background-color: white;
    /* Shadow opacity controlled by alpha component of rgba */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

#search-results {
    position: fixed;
    right: 200px;
    top: 60px;
    z-index: 10;
}

#search-results ul {
    list-style: none;
}

#search-results li {
    display: none;
}

#search-bar button {
    font-family: "TW Cen MT Bold Italic";
    font-size: 21px;
    color: #1BBE9F;
    margin-right: 0.6%;
    margin-top: 15px;
    background-color: white;
    border-radius: 25px;
    position: fixed;
    right: 70px;
    top: 8px;
    width: 350px;
    border: none;
    height: 31.5px;
    width: 100px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

/* MAIN INDEX PAGE TEXT */
#main-text {
    position: absolute;
    float: left;
    top: 180px;
    margin-left: 68px;
}

#main-text div {
    margin-top: -85px;
    margin-bottom: -60px;
}

#main-text div h2 {
    padding-left: 15px;
}

#main-text div h1 {
    margin-left: -2px;
}

#main-text button {
    font-family: "TW Cen MT Bold Italic";
    font-size: 25px;
    color: #1BBE9F;
    margin-right: 0.6%;
    margin-top: 15px;
    background-color: white;
    border-radius: 25px;
    border: #1BBE9F;
    position: relative;
    top: 6%;
    height: 40px;
    width: 100px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.row {
    position: absolute;
    top: 190px;
    right: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    padding: 0 4px;
    flex-shrink: 0;
}

.column {
    width: 350px;
    padding: 0 8px;
}

.column img {
    margin-top: 4px;
    margin-bottom: 4px;
    vertical-align: middle;
    width: 100%;
    border: 3px solid white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.games-image-container {
    position: absolute;
    top: 335px;
    left: 70px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    align-content: flex-start;
    flex-direction: row;
    flex-shrink: 0;
}

.games-image-container div {
    width: 200px;
    height: 300px;
    margin: 8px;
}

.games-image-container div img {
    width: 200px;
    height: 300px;
    border: 3px solid white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

/* Horizontally aligns items */
.horizontal-align {
    display: inline-block;
}

h1 {
    font-family: "TW Cen MT Extra Bold Condensed";
    font-size: 65px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

h2 {
    font-family: "TW Cen MT Medium Italic";
    font-size: 65px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

h3 {
    font-family: "TW Cen MT Light";
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

h4 {
    font-family: "Trebuchet MS";
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
  
p {
    font-family: "Trebuchet MS";
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

form {
    margin-top: 40px;
    margin-bottom: 25px;
}

label {
    margin-right: 15px;
    font-family: "Trebuchet MS";
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

select {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid white;
    border-radius: 25px;
    font-family: "Trebuchet MS";
    font-size: 18px;
    color: #1BBE9F;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    width: 522px;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid white;
    border-radius: 25px;
    font-family: "Trebuchet MS";
    font-size: 18px;
    color: #1BBE9F;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    width: 500px;
}

input[type="text"]::placeholder {
    color: #1BBE9F;
}

input[type="submit"] {
    font-family: "TW Cen MT Bold Italic";
    font-size: 25px;
    color: #1BBE9F;
    margin-right: 0.6%;
    margin-top: 15px;
    background-color: white;
    border-radius: 25px;
    border: #1BBE9F;
    position: relative;
    top: 6%;
    height: 40px;
    width: 100px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

/* Re-structures site for mobile devices */
@media (max-width: 575.98px) { 
    #search-bar input {
        width: 90px;
        right: 25px;
    }

    #search-bar button {
        margin-right: 0;
        text-align: center;
    }

    /* NAV BAR */
    #topnav {
        float: left;
        padding-left: 0;
        position: absolute;
        top: 60px;
        left: 5px;
    }  

    #topnav li a:hover {
        display: block;
        background-color: #4EC2AA;
        text-decoration: underline;
    }

    .row {
        display: none;
    }

    #main-text {
        margin-left: 13px;
    }

    #main-text button {
        font-size: 18px;
        height: 30px;
        width: 75px;
    }

    #main-text div {
        line-height: 90px;

    }

    #main-text div h2 {
        padding-left: 15px;
    }
    
    #main-text div h1 {
        margin-left: -2px;
    }
    
    h1 {
        font-family: "TW Cen MT Extra Bold Condensed";
        font-size: 57px;
        color: white;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    }
    
    h2 {
        font-family: "TW Cen MT Medium Italic";
        font-size: 57px;
        color: white;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    }
    
    h3 {
        font-family: "TW Cen MT Light";
        font-size: 32px;
        color: white;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    }
    
    h4 {
        font-family: "Trebuchet MS";
        font-size: 17px;
        color: white;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    }
      
    p {
        font-family: "Trebuchet MS";
        font-size: 10px;
        color: white;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    }

    select {
        padding: 10px;
        margin: 10px 0;
        border: 2px solid white;
        border-radius: 25px;
        font-family: "Trebuchet MS";
        font-size: 12px;
        color: #1BBE9F;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
        width: 322px;
        height: 40px;
    }
    
    input[type="text"] {
        padding: 10px;
        margin: 10px 0;
        border: 2px solid white;
        border-radius: 25px;
        font-family: "Trebuchet MS";
        font-size: 12px;
        color: #1BBE9F;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
        width: 300px;
        height: 16px;
    }
    
    input[type="text"]::placeholder {
        color: #1BBE9F;
    }

    input[type="submit"] {
        font-size: 18px;
        height: 30px;
        width: 75px;
    }

    .games-image-container {
        flex-wrap: wrap;
        left: 14px;
        flex-direction: row;
    }

    .games-image-container div {
        width: 150px;
        height: 225px;
    }

    .games-image-container div img {
        width: 150px;
        height: 225px;
    }
    
}

@media (max-width: 1524px) { 
    .row {
        position: absolute;
        top: 283px;
        right: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        align-items: center;
        padding: 0 4px;
        flex-shrink: 0;
    }
    
    .column {
        width: 200px;
        padding: 0 8px;
    }
    
    .column img {
        margin-top: 4px;
        margin-bottom: 4px;
        vertical-align: middle;
        width: 100%;
        border: 3px solid white;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    }
  
}

@media (max-width: 1238px) { 
    .row {
        display: none;
    }

    .games-image-container {
        flex-wrap: wrap;
        left: 14px;
        flex-direction: row;
    }

    .games-image-container div {
        width: 150px;
        height: 225px;
    }

    .games-image-container div img {
        width: 150px;
        height: 225px;
    }

    #main-text {
        margin-left: 13px;
    }
}

@media (max-width: 1062px) {
    #search-bar input {
        width: 90px;
        right: 25px;
    }

    #search-bar button {
        margin-right: 0;
        text-align: center;
    }
}
